---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Maxime Leherquer - Frontend Developer"
  desc="Hi,I'm Maxime Leherquer, a Frontend Developer based in Caen, France."
>
  <main class="px-4 pt-28 xl:px-0 grid grid-y-8"></main>
</Layout>
