---
import { getCollection } from "astro:content"
import Date from "../components/Date.astro"
import Layout from "../layouts/Layout.astro"

const allPosts = await getCollection("posts")
---

<Layout pageTitle="Blog">
  <div class="not-prose">
    {
      allPosts.map((post) => (
        <a href=`/posts/${post.slug}/` class="flex justify-between">
          {post.data.title}
          <Date date={post.data.pubDate} />
        </a>
      ))
    }
  </div>
</Layout>
