---
type Props = {
  title?: string
  classList?: string
  link?: string
  icon?: string
}

const { classList, title, link, icon } = Astro.props
---

<a href={link} class={classList}>
  {icon && <img src={icon} alt="" class="w-6 h-6 shrink" />}
  {title && <span class="ml-2">{title}</span>}
</a>
