---
interface Props {
  title: string
  classList: string
  link?: string
  icon?: string
}

const { classList, title, link, icon } = Astro.props
---

<a href={link} class={classList}>
  {icon !== undefined && <img src={icon} alt="" class="w-5 h-5 mr-2 shrink" />}
  {title}
</a>
