---
import "@fontsource-variable/fira-code"
import "@fontsource-variable/inter"
import "@fontsource-variable/outfit"
import Menu from "../components/Menu.astro"

type Props = {
  pageTitle?: string
}

const { pageTitle } = Astro.props
const title = pageTitle
  ? `${pageTitle} | Maxime Leherquer`
  : "Maxime Leherquer - Frontend Developer"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="A Frontend Developer and digital creator. This is myr" />
  </head>
  <body class="bg-yellow-50 text-zinc-950">
    <Menu />
    <div class="px-4 pb-8 pt-12 md:pt-4 w-full max-w-3xl mx-auto min-h-screen">
      {
        pageTitle && (
          <header class="mt-8 mb-6">
            <h1>{pageTitle}</h1>
          </header>
        )
      }
      <main class="grid grid-y-8">
        <slot />
      </main>
    </div>
  </body>
</html>
